.imagesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 430px) {
      gap: 5px;
      padding: 10px;
  }
}
