$orange: #f17900;
$lightOrange: #E0A449;
$bookmarkBackground: #FBD7B24D;
$mainGray: #393939;
$lightGray: #3939390d;
$grayGradient: linear-gradient(
    90deg,
    #343333 38.05%,
    #484848 69.22%,
    #282828 98.98%
);
$white: #ffffff;
$background: #fafafa;
$grayText: #39393980;
$grayBorder:#F0F1F1;

