$orange: #f17900;
$lightOrange: #e0a449;
$bookmarkBackground: #F9F9F9;
$bookmarkActiveBackground: #fbd7b24d;
$mainGray: #393939;
$gray: #5b5b5b;
$lightGray: #3939390d;
$grayGradient: linear-gradient(
    90deg,
    #343333 38.05%,
    #484848 69.22%,
    #282828 98.98%
);
$white: #ffffff;
$background: #fafafa;
$grayText: #39393980;
$grayBorder: #f0f1f1;
