@use '@styles/colors/colors' as *;

.footer {
    height: 130px;
    display: flex;
    background: $white;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    width: 100%;

    @media (max-width: 768px) {
        height: 110px;
    }

    @media (max-width: 480px) {
        height: 100px;
        padding: 0 10px;
    }
}

.imagesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    gap: 20px;

    @media (max-width: 768px) {
        width: 80%;
        gap: 15px;
    }

    @media (max-width: 480px) {
        width: 100%;
        justify-content: space-evenly;
        gap: 0;
    }
}

.museumLogo {
    width: 200px;
    height: 60px;

    @media (max-width: 768px) {
        width: 170px;
        height: 50px;
    }

    @media (max-width: 480px) {
        width: 140px;
        height: 45px;
    }
}

.modsenLogo {
    width: 165px;
    height: 60px;

    @media (max-width: 768px) {
        width: 140px;
        height: 50px;
    }

    @media (max-width: 480px) {
        width: 120px;
        height: 40px;
    }
}
