@use '@styles/colors/colors' as *;

.pageWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.outletWrapper{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  background-color: $background;
}