@use "@styles/colors/colors" as *;

.listContainer{
  display: flex;
  gap:60px;
  min-height:515px;
}

.activePage{
  background-color: $orange;
  color:$white;
}

.pagesWrapper{
  display: flex;
  font-size: 18px;
  margin-top: 100px;
  justify-self: flex-end;
  gap:10px;
  font-weight: 300;
}

.page{
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
}